/* COMPONENT */

button {
    cursor: pointer;
    font-family: Crimson Text;
}

.variant_1_button {
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
    text-transform: uppercase;
    border: 0.52px solid var(--primary);
    color: var(--primary);
    display: inline-flex;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 4px;
    background: none;
}


.variant_1_button:hover {
    background: var(--primary);
    color: #FFFFFF;
}

#navbar {
    position: sticky;
    bottom: -80px;
    transition: bottom 0.5s;
    height: 80px;
    padding: 16px 24px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    background: var(--background-color-2);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#navbar ul {
    justify-content: space-between;
    align-items: center;
    display: flex;
    padding: 0;
    margin: 0;
    width: 100%;
}

#navbar li {
    list-style-type: none;
    margin-right: 20px;
    margin: 0;
    color: var(--primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 6px;
    opacity: 0.2;
    cursor: pointer;
}

.separator {
    margin: 0 10%;;
}

/* MUSIC PLAYER*/
#musicPlayer {
    position: sticky;
    width: 100%;
    height: 0;
    display: flex;
    justify-content: end;
    transition: bottom 0.5s;
}

#musicPlayer img {
    margin-right: 24px;
    cursor: pointer;
}

#musicPlayer audio {
    display: none;
}