/* DATE SECTION */

#date * {
    margin: 0;
}

#date {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#date #date_container {
    text-align: center;
    width: 100%;
    z-index: 2;
    visibility: hidden;
}

#date .date_title {
    text-align: center;
}

#date .date_date_day {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

#date .date_date_day_date {
    display: flex;
    align-items: center;
    gap: 4px;
    text-align: center;
}

#date .date_date_day_date p {
    text-transform: uppercase;
    text-align: center;
}

#date h3 {
    text-transform: uppercase;
    text-align: center;
}

#date .date_time {
    text-transform: uppercase;
    margin-top: 20px;
    margin-bottom: 40px;
    text-align: center;
}

#date .date_divider {
    margin-top: 12px;
}

#date #date_location {
    margin-top: 8px;
    text-align: center;
}

#date #date_adress {
    margin-top: 4px;
    text-align: center;
}

#date #date_map {
    margin-top: 24px;
}
