/* FILTER SECTION */

#filter * {
    margin: 0;
}

#filter {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 48px 24px;
    justify-content: center;
}


#filter_content {
    visibility: hidden;
    height: 80%;
    width: 90%;
    z-index: 2;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 16px;
    background-color: rgba(255, 255, 255, 0.17);
}

#filter_divider {
    margin-top: 12px !important;
}

#filter_information {
    margin: 16px 0 !important;
}


#filter_filter {
    background: var(--primary);
    border: none;
    color: #ffffff;
    text-align: center;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.84px;
    display: inline-flex;
    padding: 18px 32px;
    justify-content: center;
    align-items: center;
    gap: 4px;

}
