/* GIFT SECTION */

#gift_content {
    text-align: center;
    text-transform: uppercase;
    z-index: 2;
    position: relative;
    width: 100%;
    height: fit-content;
    padding: 96px 40px;
}

#gift * {
    margin: 0;
}

#gift #gift_information {
    margin-top: 24px;
    text-align: center;
}

#gift_card_container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    margin-top: 24px;
    visibility: hidden;
    width: 100%;
}

#gift .gift_divider {
    margin-top: 12px;
}

#gift .gift_card {
    border-radius: 8px;
    border: 0.5px solid var(--primary);
    padding: 24px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 24px;
    position: relative;
}

#gift .gift_card .gift_card_info {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 70%;
    text-align: center
}


#gift .gift_card .gift_card_info .gift_gift_card_info_an {
    margin-top: 4px;
}

#gift .gift_card .gift_card_info .gift_gift_card_info_an {
    margin-top: 4px;
}

#gift .gift_card .gift_card_info #gift_gift_card_info_receiver {
    margin-bottom: 8px;
}