/* WELCOME SECTION */

#welcomePage {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: var(--background-base) top center / cover no-repeat local;
    padding: 5.5rem 40px;
    z-index: 5;
}

#welcomePage::after {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(13, 13, 13, 0.78) 0%, rgba(236, 235, 220, 0) 50%);
    z-index:0;
}

#welcomePage #welcomaPage_content {
   position: relative;
   z-index: 1;
   text-align: center;              
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: end;
   align-items: center;
   flex-wrap: wrap;
   animation: zoomIn 1s 0.5s backwards;
   color: #ffffff;
}


#welcomaPage_content h1 {
    font-family: Great Vibes, cursive;
    margin: 0;
}

#welcomaPage_content_first_h5 {
    margin: 0;
}

#welcomaPage_content #welcomaPage_content_second_h1 {
    margin: 10px 0 0;
}

#welcomaPage_content #welcomaPage_content_dear {
    margin: 32px 0 0;
    font-size: 12px;
    letter-spacing: 0.96px;
    text-transform: uppercase;
    /* animation: fadeInDown 1s 0.8s backwards; */
}

#welcomaPage_content h3 {
    margin: 8px 0 0;
    text-transform: uppercase;
    /* animation: fadeInDown 1s 0.8s backwards; */
}

#welcomaPage_content_button {
    margin-top: 32px;
}

#welcomaPage_content_bottom_image {
    position: absolute;
    bottom: 0;
    object-fit: cover;
    width: 100%;
    max-height: 20vh;
    overflow: hidden;
    animation: slideInUp 0.5s;
    z-index: 2;
}
