/* DATE SECTION */

#date {
    min-height: 100vh;
    height: fit-content;
    position: relative;
    padding: 16px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#date * {
    margin: 0;
}

#date #date_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow-x: hidden;
    visibility: hidden;
    margin: 104px 0;
}

#date .date_title {
    margin-top: 40px;
    text-align: center;
}

#date .date_date_day {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-top: 32px;
    flex-wrap: wrap;
    justify-content: center;
}

#date .date_date_day_date {
    display: flex;
    align-items: center;
    gap: 4px;
    text-align: center;
}

#date .date_date_day_date p {
    text-transform: uppercase;
    text-align: center;
}

#date h3 {
    text-transform: uppercase;
    text-align: center;
}

#date .date_time {
    text-transform: uppercase;
    margin-top: 20px;
    text-align: center;
}

#date .date_divider {
    margin-top: 12px;
}

#date #date_pointer {
    margin-top: 40px;
}

#date #date_location {
    margin-top: 8px;
    text-align: center;
}

#date #date_adress {
    margin-top: 4px;
    text-align: center;
}

#date #date_map {
    margin-top: 24px;
    visibility: hidden;
}

#date #date_buttom {
    position: absolute;
    bottom: 0;
    visibility: hidden;
}

#date #date_top {
    position: absolute;
    top: 0;
    visibility: hidden;
}

#date_left_line {
    border-left: 1px solid #F0DEAB;
    position: absolute;
    left: 24px;
    height: 65%;
    top: 0;
    bottom: 0;
    margin: auto 0;
}

#date_right_line {
    border-left: 1px solid #F0DEAB;
    position: absolute;
    right: 24px;
    height: 65%;
    top: 0;
    bottom: 0;
    margin: auto 0;
}