/* GALLERY SECTION */

#gallery {
  height: fit-content;
  width: 50%;
  text-align: center;
  position: relative;
  overflow-x: hidden;
}

#gallery * {
  margin: 0;
}

.gallery_images_container {
  margin: 34px 24px !important;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.gallery_images_container img {
  object-fit: cover;
  display: block;
}

.gallery_images_container_two_collumn {
  display: flex;
  width: 100%;
  gap: 4px;
}

.mt-1 {
  margin-top: 4px !important;
}

.gallery_images_container_one_collumn {
  width: 100%;
}

.gallery_images_container_four_collumn {
  width: 100%;
  column-count: 2;
  gap: 4px;
}

.gallery_images_container_four_collumn img {
  width: 100%;
  break-inside: avoid;
}

.gallery_images_container_two_collumn img {
  width: calc(50% - 2px);
}

.gallery_images_container_one_collumn img {
  width: 100%;
}

/* Gallery Image Variant */
.gallery_images_var_1 {
  aspect-ratio: 169 / 271;
}

.gallery_images_var_2 {
  aspect-ratio: 342 / 216;
}

.gallery_images_var_3 {
  aspect-ratio: 169 / 216;
}

.gallery_images_var_4 {
  aspect-ratio: 169 / 253;
}

.gallery_images_var_5 {
  aspect-ratio: 169 / 176;
}
