/* Template 3 */
#welcomePage_3 #welcomaPage_3_content {
    position: relative;
    z-index: 1;
    text-align: center;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: start;
    margin-top: 20vh;
    align-items: center;
    flex-wrap: wrap;
    animation: zoomIn 1s 0.5s backwards;
 }

 #welcomaPage_3_content_top_image {
    display: flex;
    justify-content: space-between;
    position: absolute;
    width: 100%;
    top: 0;
    z-index: 2;
}

#welcomaPage_3_content_top_image img {
    position: absolute;
    top: 0;
    width: 100%;
    animation: slideInDown 0.5s;
}
 
 #welcomaPage_3_content_center_image {
     position: absolute;
     width: 80%;
     top: 0;
     bottom: 0;
     left: 0;
     right: 0;
     margin: auto;
     z-index: 0;
 }
 
 #welcomaPage_3_content_center_image img {
     animation: rotateInUpLeft 0.5s;
     height: 100%;
     width: 100%; 
 }
 
 #welcomaPage_3_content h1 {
     font-family: Great Vibes, cursive;
     margin: 0;
 }
 
 #welcomaPage_3_content #welcomaPage_3_content_first_h1 {
     margin-bottom: 21vh;
 }
 
 #welcomaPage_3_content #welcomaPage_3_content_date {
     margin: 1vh 0 0;
     font-size: 18px;
     letter-spacing: 0.81px;
     /* animation: fadeInDown 1s 0.8s backwards; */
 }
 #welcomaPage_3_content #welcomaPage_3_content_dear {
     margin: 12vh 0 0;
     font-size: 8px;
     letter-spacing: 0.96px;
     text-transform: uppercase;
     /* animation: fadeInDown 1s 0.8s backwards; */
 }
 
 #welcomaPage_3_content h3 {
     margin: 6px 0 0;
     text-transform: uppercase;
     /* animation: fadeInDown 1s 0.8s backwards; */
 }
 
 #welcomaPage_3_content_bottom_image {
     position: absolute;
     bottom: 0;
     object-fit: cover;
     width: 100%;
     max-height: 20vh;
     overflow: hidden;
     animation: slideInUp 0.5s;
     z-index: 2;
 }

  @media only screen and (max-height: 800px) {
    #welcomePage_3 #welcomaPage_3_content {
        margin-top: 25vh;
     }

    #welcomaPage_3_content #welcomaPage_3_content_dear {
        margin: 6vh 0 0;
    }

    #welcomaPage_3_content #welcomaPage_3_content_first_h1 {
        margin-bottom: 8vh;
    }
  }

  