/* CLOSSING MESSAGE SECTION */

#clossingMessage {
    height: fit-content;
    padding: 40px 40px 120px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    position: relative;
    overflow: hidden;
}

#clossingMessage_content {
    visibility: hidden;
}

#clossingMessage_info {
    margin-top: 24px;
}

#clossingMessage_couples {
    font-family: Allura;
}

#clossingMessage_ornament_buttom {
    position: absolute;
    bottom: 0;
    visibility: hidden;
}